xml-resources/web-service-references/FlightWSService/wsdl/localhost_8080/FlightWebService/FlightWSService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:tns="http://ukrelektro.com.ua/flight/ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ukrelektro.com.ua/flight/ws">
<types>
<xsd:schema>
<xsd:import namespace="http://ukrelektro.com.ua/flight/ws" schemaLocation="http://localhost:8080/FlightWebService/FlightWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="checkReservationByCode">
<part name="parameters" element="tns:checkReservationByCode"/>
</message>
<message name="checkReservationByCodeResponse">
<part name="parameters" element="tns:checkReservationByCodeResponse"/>
</message>
<message name="ArgumentException">
<part name="fault" element="tns:ArgumentException"/>
</message>
<message name="searchFlight">
<part name="parameters" element="tns:searchFlight"/>
</message>
<message name="searchFlightResponse">
<part name="parameters" element="tns:searchFlightResponse"/>
</message>
<message name="getAllCities">
<part name="parameters" element="tns:getAllCities"/>
</message>
<message name="getAllCitiesResponse">
<part name="parameters" element="tns:getAllCitiesResponse"/>
</message>
<message name="buyTicket">
<part name="parameters" element="tns:buyTicket"/>
</message>
<message name="buyTicketResponse">
<part name="parameters" element="tns:buyTicketResponse"/>
</message>
<portType name="FlightWS">
<operation name="checkReservationByCode">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://ukrelektro.com.ua/flight/ws/FlightWS/checkReservationByCodeRequest" message="tns:checkReservationByCode"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://ukrelektro.com.ua/flight/ws/FlightWS/checkReservationByCodeResponse" message="tns:checkReservationByCodeResponse"/>
<fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:ArgumentException" name="ArgumentException" ns3:Action="http://ukrelektro.com.ua/flight/ws/FlightWS/checkReservationByCode/Fault/ArgumentException"/>
</operation>
<operation name="searchFlight">
<input xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://ukrelektro.com.ua/flight/ws/FlightWS/searchFlightRequest" message="tns:searchFlight"/>
<output xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://ukrelektro.com.ua/flight/ws/FlightWS/searchFlightResponse" message="tns:searchFlightResponse"/>
<fault xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" message="tns:ArgumentException" name="ArgumentException" ns6:Action="http://ukrelektro.com.ua/flight/ws/FlightWS/searchFlight/Fault/ArgumentException"/>
</operation>
<operation name="getAllCities">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://ukrelektro.com.ua/flight/ws/FlightWS/getAllCitiesRequest" message="tns:getAllCities"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://ukrelektro.com.ua/flight/ws/FlightWS/getAllCitiesResponse" message="tns:getAllCitiesResponse"/>
</operation>
<operation name="buyTicket">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://ukrelektro.com.ua/flight/ws/FlightWS/buyTicketRequest" message="tns:buyTicket"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://ukrelektro.com.ua/flight/ws/FlightWS/buyTicketResponse" message="tns:buyTicketResponse"/>
<fault xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" message="tns:ArgumentException" name="ArgumentException" ns11:Action="http://ukrelektro.com.ua/flight/ws/FlightWS/buyTicket/Fault/ArgumentException"/>
</operation>
</portType>
</definitions>