xml-resources/web-service-references/SearchWS/wsdl/localhost_8080/FlightWebService/SearchWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.flight.ukrelektro.com.ua/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.flight.ukrelektro.com.ua/" name="SearchWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.flight.ukrelektro.com.ua/" schemaLocation="http://localhost:8080/FlightWebService/SearchWS?xsd=1"/>
</xsd:schema>
</types>
<message name="checkReservationByFamilyName">
<part name="parameters" element="tns:checkReservationByFamilyName"/>
</message>
<message name="checkReservationByFamilyNameResponse">
<part name="parameters" element="tns:checkReservationByFamilyNameResponse"/>
</message>
<message name="checkReservationByCode">
<part name="parameters" element="tns:checkReservationByCode"/>
</message>
<message name="checkReservationByCodeResponse">
<part name="parameters" element="tns:checkReservationByCodeResponse"/>
</message>
<message name="searchFlight">
<part name="parameters" element="tns:searchFlight"/>
</message>
<message name="searchFlightResponse">
<part name="parameters" element="tns:searchFlightResponse"/>
</message>
<message name="getAllCities">
<part name="parameters" element="tns:getAllCities"/>
</message>
<message name="getAllCitiesResponse">
<part name="parameters" element="tns:getAllCitiesResponse"/>
</message>
<message name="buyTicket">
<part name="parameters" element="tns:buyTicket"/>
</message>
<message name="buyTicketResponse">
<part name="parameters" element="tns:buyTicketResponse"/>
</message>
<portType name="SearchWS">
<operation name="checkReservationByFamilyName">
<input wsam:Action="http://ws.flight.ukrelektro.com.ua/SearchWS/checkReservationByFamilyNameRequest" message="tns:checkReservationByFamilyName"/>
<output wsam:Action="http://ws.flight.ukrelektro.com.ua/SearchWS/checkReservationByFamilyNameResponse" message="tns:checkReservationByFamilyNameResponse"/>
</operation>
<operation name="checkReservationByCode">
<input wsam:Action="http://ws.flight.ukrelektro.com.ua/SearchWS/checkReservationByCodeRequest" message="tns:checkReservationByCode"/>
<output wsam:Action="http://ws.flight.ukrelektro.com.ua/SearchWS/checkReservationByCodeResponse" message="tns:checkReservationByCodeResponse"/>
</operation>
<operation name="searchFlight">
<input wsam:Action="http://ws.flight.ukrelektro.com.ua/SearchWS/searchFlightRequest" message="tns:searchFlight"/>
<output wsam:Action="http://ws.flight.ukrelektro.com.ua/SearchWS/searchFlightResponse" message="tns:searchFlightResponse"/>
</operation>
<operation name="getAllCities">
<input wsam:Action="http://ws.flight.ukrelektro.com.ua/SearchWS/getAllCitiesRequest" message="tns:getAllCities"/>
<output wsam:Action="http://ws.flight.ukrelektro.com.ua/SearchWS/getAllCitiesResponse" message="tns:getAllCitiesResponse"/>
</operation>
<operation name="buyTicket">
<input wsam:Action="http://ws.flight.ukrelektro.com.ua/SearchWS/buyTicketRequest" message="tns:buyTicket"/>
<output wsam:Action="http://ws.flight.ukrelektro.com.ua/SearchWS/buyTicketResponse" message="tns:buyTicketResponse"/>
</operation>
</portType>
<binding name="SearchWSPortBinding" type="tns:SearchWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkReservationByFamilyName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkReservationByCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buyTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SearchWS">
<port name="SearchWSPort" binding="tns:SearchWSPortBinding">
<soap:address location="http://localhost:8080/FlightWebService/SearchWS"/>
</port>
</service>
</definitions>